<h1>Create</h1>

<h4>Department</h4>
<hr />

<div class="row">
  <div class="col-md-4">
    <form novalidate #form="ngForm" (ngSubmit)="save(form)">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" [(ngModel)]="department.name" />
      </div>
      <div class="form-group">
        <label>Budget</label>
        <input class="form-control" name="budget" [(ngModel)]="department.budget" />
      </div>
      <div class="form-group">
        <label>StartDate</label>
        <input class="form-control" name="startDate" [(ngModel)]="department.startDate" />
      </div>
      <div class="form-group">
        <label>Instructor</label>
        <input class="form-control" name="instructorID" [(ngModel)]="department.instructorID" />
      </div>
      <button type="submit" class="btn btn-primary m-1">
        Create
      </button>
    </form>
    <a routerLink="/departments" routerLinkActive="active">Back to List</a>
  </div>
</div>
