<h2>Departments</h2>

<p>
  <a>Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Budget
      </th>
      <th>
        StartDate
      </th>
      <th>
        AdministratorName
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of vm.departments">
      <td>
        {{department.name}}
      </td>
      <td>
        {{department.budget | currency:'USD'}}
      </td>
      <td>
        {{department.startDate | date:'yyyy-MM-dd'}}
      </td>
      <td>
        {{department.administratorName}}
      </td>
      <td>
        <a>Edit</a> |
        <a routerLink="/departments/details" routerLinkActive="active">Details</a> |
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</table>
