<h1>Create</h1>

<h4>Department</h4>
<hr />

<div class="row">
  <div class="col-md-4">
    <form novalidate #form="ngForm" (ngSubmit)="save(form)">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" required  [(ngModel)]="department.name" #name="ngModel" />
        <p *ngIf="name.errors?.required && form.submitted" class="text-danger">Name is required</p>
      </div>
      <div class="form-group">
        <label>Budget</label>
        <input class="form-control" name="budget" type="number" required [(ngModel)]="department.budget" #budget="ngModel" />
        <p *ngIf="budget.errors?.required && form.submitted" class="text-danger">Budget is required</p>
      </div>
      <div class="form-group">
        <label>StartDate</label>
        <input class="form-control" name="startDate" type="date" [(ngModel)]="department.startDate" #startDate="ngModel" />
        <p *ngIf="startDate.errors?.required && form.submitted" class="text-danger">StartDate is required</p>
      </div>
      <div class="form-group">
        <label>Instructor</label>
        <!--<input class="form-control" name="instructorID" [(ngModel)]="department.instructorID" #instructor="ngModel" />-->
        <select name="instructorID" #instructor="ngModel" [(ngModel)]="department.instructorID">
          <option *ngFor="let item of instructorsLookupVM.instructors" [value]="item.id">{{item.fullName}}</option>
        </select>
        <p *ngIf="instructor.errors?.required && form.submitted" class="text-danger">Instructor is required</p>
      </div>
      <button type="submit" class="btn btn-primary m-1">
        Create
      </button>
    </form>
    <a routerLink="/departments" routerLinkActive="active">Back to List</a>
  </div>
</div>
