
<h1>Details</h1>

<div>
  <h4>Student</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      Lastname
    </dt>
    <dd class="col-sm-10">
      {{vm.lastName}}
    </dd>
    <dt class="col-sm-2">
      Firstname
    </dt>
    <dd class="col-sm-10">
      {{vm.firstName}}
    </dd>
    <dt class="col-sm-2">
      Enrollmentdate
    </dt>
    <dd class="col-sm-10">
      {{vm.enrollmentDate | date:'yyyy-MM-dd'}}
    </dd>
    <dt class="col-sm-2">
      Enrollments
    </dt>
    <dd class="col-sm-10">
      <table class="table">
        <tr>
          <th>Course Title</th>
          <th>Grade</th>
        </tr>
        <tr *ngFor="let enrollment of vm.enrollments">
          <td>
            {{enrollment.courseTitle}}
          </td>
          <td>
            {{Grade[enrollment.grade]}}
          </td>
        </tr>
      </table>
    </dd>
  </dl>
</div>
<div>
  <a>Edit</a> |
  <a routerLink="/students" routerLinkActive="active">Back to List</a>
</div>
