
<h2>Students</h2>

<p>
  <a routerLink="/students/create" routerLinkActive="active">Create New</a>
</p>

<div class="form-actions no-color">
  <p>
    Find by name: <input type="text" name="SearchString" value="{{vm.currentFilter}}" />
    <input (click)="filter()" value="Search" class="btn btn-default" /> |
    <a (click)="backToFullList()">Back to Full List</a>
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        <a (click)="sortByLastName()">Last Name</a>
      </th>
      <th>
        First Name
      </th>
      <th>
        <a (click)="sortByEnrollmentDate()">Enrollment Date</a>
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of vm.students">
      <td>
        {{student.lastName}}
      </td>
      <td>
        {{student.firstName}}
      </td>
      <td>
        {{student.enrollmentDate | date:'yyyy-MM-dd'}}
      </td>
      <td>
        <a routerLink="/students/edit" routerLinkActive="active">Edit</a> |
        <a routerLink="/students/details" routerLinkActive="active">Details</a> |
        <a (click)="deleteStudent(student.studentID, student.firstName + ' ' + student.lastName)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<a (click)="previousPage()" class="btn btn-default">
  Previous
</a>
<a (click)="nextPage()" class="btn btn-default">
  Next
</a>
