
<h2>Students</h2>

<p>
  <a routerLink="/students/create" routerLinkActive="active">Create New</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>
        <a>Last Name</a>
      </th>
      <th>
        First Name
      </th>
      <th>
        <a>Enrollment Date</a>
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        LastName
      </td>
      <td>
        FirstName
      </td>
      <td>
        EnrollmentDate
      </td>
      <td>
        <a routerLink="/students/edit" routerLinkActive="active">Edit</a> |
        <a routerLink="/students/details" routerLinkActive="active">Details</a> |
        <!--<a (click)="deleteStudent(student.studentID, student.name)">Delete</a>-->
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-default">
  Previous
</a>
<a class="btn btn-default">
  Next
</a>
