<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand">Contoso University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/students" routerLinkActive="active">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/courses" routerLinkActive="active">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/instructors" routerLinkActive="active">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/departments" routerLinkActive="active">Departments</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
