<h2>Course details</h2>
<h1>Details</h1>

<div>
  <h4>Course</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      Title
    </dt>
    <dd class="col-sm-10">
      Title-value
    </dd>
    <dt class="col-sm-2">
      Credits
    </dt>
    <dd class="col-sm-10">
      Credits-value
    </dd>
    <dt class="col-sm-2">
      DepartmentID
    </dt>
    <dd class="col-sm-10">
      DepartmentID-value
    </dd>
  </dl>
</div>
<div>
  <a >Edit</a> |
  <a routerLink="/courses" routerLinkActive="active" >Back to List</a>
</div>
