<h2>Courses</h2>

<p>
  <a>Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        CourseID
      </th>
      <th>
        Title
      </th>
      <th>
        Credits
      </th>
      <th>
        DepartmentName
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        CourseID
      </td>
      <td>
        Title
      </td>
      <td>
        Credits
      </td>
      <td>
        DepartmentName
      </td>
      <td>
        <a>Edit</a> |
        <a>Details</a> |
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</table>
