<h1>Create</h1>

<h4>Course</h4>
<hr />

<div class="row">
  <div class="col-md-4">
    <form novalidate #form="ngForm" (ngSubmit)="save(form)">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="title" required [(ngModel)]="course.title" #title="ngModel" />
        <p *ngIf="title.errors?.required && form.submitted" class="text-danger">Title is required</p>
      </div>
      <div class="form-group">
        <label>Credits</label>
        <input class="form-control" name="credits" type="number" required [(ngModel)]="course.credits" #credits="ngModel" />
        <p *ngIf="credits.errors?.required && form.submitted" class="text-danger">Credits is required</p>
      </div>
      <div class="form-group">
        <label>DepartmentID</label>
        <div>
          <select name="departmentID" #department="ngModel" [(ngModel)]="course.departmentID">
            <option *ngFor="let item of departmentsLookupVM.departments" [ngValue]="item.id">{{item.name}}</option>
          </select>
          <p *ngIf="department.errors?.required && form.submitted" class="text-danger">DepartmentID is required</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary m-1">
        Create
      </button>
    </form>
    <a routerLink="/courses" routerLinkActive="active">Back to List</a>
  </div>
</div>
