<h2>Courses</h2>

<p>
  <a>Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        CourseID
      </th>
      <th>
        Title
      </th>
      <th>
        Credits
      </th>
      <th>
        DepartmentName
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of vm.courses">
      <td>
        {{course.courseID}}
      </td>
      <td>
        {{course.title}}
      </td>
      <td>
        {{course.credits}}
      </td>
      <td>
        {{course.departmentName}}
      </td>
      <td>
        <a>Edit</a> |
        <a routerLink="/courses/details" routerLinkActive="active">Details</a> |
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</table>
